<!-- W W U F O O T E R  															  -->
<!-- Please do not change anything in this file - this is the required Western Footer -->
  <div id="wwu-footer">
    <div id="wwu-name">
      <ul class="horiz-menu" > 
        <li><a href="http://www.wwu.edu">Western Washington University</a></li>
        <li><a href="http://www.wwu.edu">Bellingham, Washington</a></li>
      </ul>
     <!-- <p>Western Washington University &nbsp;&nbsp;&#149;&nbsp;&nbsp; Bellingham, Washington</p>-->
    </div><!--wwu-name -->
      <div id="wwu-footer-menu">
      <ul class="horiz-menu">
	    <li>
    <a href="https://www.wwu.edu/commitment-accessibility">Accessibility</a>


	    </li>
      </ul>
    </div><!--footer-menu  -->
  </div><!--footer -->


