@charset "utf-8";
/* CSS Document */
/*  This file contains the custom styles for your site. Please use            */
/*   carefully to apply department specific changes.                          */
/*   Thank you!   ATUS 9/30/2011                                              */
/* Brand Colors
Dk blue: 		#003f87
Light blue: 	#0083d6
red:  			#cc2d30
yellow-orange:	#ffc61e
lime green:		#bad80a
*/
.tagline{
	display:none; /*if you do wish the tagline "Active Minds" to display on the blue bar, comment this out*/
	}
h2 {
	border-color:#cc2d30; /*choose border colors from brand colors, above*/
	}

.left { margin:.5em .5em .5em 0; }
.right { margin:.5em 0 .5em .5em; }
p.centered {margin: 0 auto; }

.small-text { font-size:.75em; }

input#searchfield { width: 134px;} /*stop go button from wrapping*/
.topspace{padding-top: 2em;}

/*Making the pdf icon not be to the far left on the Armory RFI menu link*/
.file-type-icon-display-near {
    background-color: #cce6f7;
}
.nav-normal.file-type-icon-display-near > a {
    margin-left: 0;
    width: 80px;
}

.noPDF a[href$=".pdf"] {
	background:none;
	padding:0 4px 0 0;
	}
.box-right-detail {
	width: 50%;}
.experts-table td, th{
	padding-left: 10px;
}
.custom {
	padding-bottom: 0px;
}
.subheading {
	color: #0083d6;
	font-style: italic;
	padding-top: 0px;

}
.custom-quote {
	background-color: #CCE6F7;
	border-radius: 8px;
	padding: 0px;
	margin-top: 20px;
	position: relative;
	color: #003f87;
}
.curly-brace {
	color: #0083d6;
	font-size: 30px;
}
.curly-brace-2 {
	color: #0083d6;
	font-size: 30px;
	position: absolute;
	bottom: 50px;
	right: 55px;
}
	.quote-name {
		color: #0083d6;

	}
.curly-brace-2-2 {
	color: #0083d6;
	font-size: 30px;
	position: absolute;
	bottom: 100px;
	right: 15px;
}
