<!-- Department Footer -->
  <!-- Rounded Corner notes: class="rounded" is necessary to get a rounded corner. Pass parameters to the rounding
  algorithm using the data-corner tag. "top" rounds just the top, 10px gives the radius of rounding (and requires 
  at least that much padding on the object -->
  <div id="footer" class="rounded" data-corner="top 10px">
    <ul class="horiz-menu">
		<li><a href="/univrelations/contact.shtml">Contact Us</a></li>
        <li><a href="mailto:webhelp@wwu.edu">Feedback</a></li>
    </ul>
  </div>
