<div id="banner"> <!-- banner image goes here - should be 940x89 pixels -->
     <a href="/univrelations/index.shtml">
        <img src="/univrelations/resources/banner940x89.jpg" height="89" width="940" alt="University Relations" />
     </a>
</div>
