<p>The Office of University Relations &amp; Marketing is responsible for fostering and maintaining effective relationships and communication with local government as well as providing leadership to all efforts aimed at enhancing the reputation of and appreciation for the University, always striving to communicate and work effectively with our neighboring communities, businesses and entities.</p>

<p>The Office of University Relations &amp; Marketing oversees</p>
<ul>
  <li> <a href="/univrelations/ucomm.shtml" target="_blank">University Communications and Marketing</a> </li>
  <li><a href="/univrelations/webtech.shtml" target="_blank">Web Communication Technologies</a> (WebTech) </li>
  <li><a href="http://www.wacampuscompact.org/" target="_blank">Washington Campus Compact</a> </li>
  <li>the <a href="/univrelations/sbdc.shtml" target="_blank">Small Business Development Center</a> </li>
  <li><a href="/univrelations/frontdoor.shtml" target="_blank">Community Relations</a> </li>
  <li>Western's <a href="http://www.wwu.edu/waterfront" target="_blank">Waterfront Development</a> project </li>
</ul>
