<ul title="navigation">
  <li><a href="/univrelations/index.shtml">Home</a></li>
  <li><a href="/univrelations/staff.shtml">Staff</a></li>
  <li><a href="/univrelations/ucomm.shtml">University Communications and Marketing</a> 
  <ul>
  <li><a href= "/univrelations/experts_available_for_comment.shtml"> Experts Available For Comment </a></li> 
  </ul></li>
  <li><a href="/univrelations/webtech.shtml">Web Communication Technologies (WebTech)</a></li>
  <li><a href="/univrelations/frontdoor.shtml">Community Relations</a></li>
  <li><a href="http://www.wwu.edu/sbdc/index.shtml">Small Business Development Center</a></li>
  <li><a href="http://www.wacampuscompact.org">WA Campus Compact</a></li>
  <li> <a href="http://www.wwu.edu/waterfront/index.shtml">Waterfront Development</a></li>
</ul>
<h3>Related Sites</h3>
<ul>
   <li><a href="https://westerntoday.wwu.edu">Western Today</a></li>
   <li><a href="http://www.wwu.edu/westernwindowtv">Western Window TV</a></li>
  <li><a href="https://wp.wwu.edu/wlr/">Western Legislative Review</a></li>
  <li><a href="https://wp.wwu.edu/webtech">WebTech Help Desk</a></li>
  <li><a href="http://www.wwu.edu/univrelations/aascu.shtml">A State College and University</a></li>
</ul>
