	<div class="searchForm">
		<form method="get" action="http://search2.wwu.edu/texis/search/" id="mainsearch">
			<label class="hide" for="searchfield">Search Terms:</label>
			
			<input type="text" id="searchfield" name="query" size="17" maxlength="50" value="search" onblur="if(this.value=='')this.value='search';" onfocus="if(this.value=='search')this.value='';" title="Enter your keywords here"/>
			<input type="submit" id="searchgo" value="go" title="Click here to search" />


				<input type="hidden" name="pr" value="Univrelations">
		</form>
	</div>
